# PostgreSQL.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=movies
POSTGRES_HOST=db_auth_test
PGPORT=5434
# Redis.
REDIS_HOST=auth_redis_test
REDIS_PORT=6379
# App.
APP_PORT=8888
APP_HOST=auth_api_test
PROJECT_NAME=Сервис авторизации
# JWT.
AUTHJWT_SECRET_KEY=qwerty123
JWT_ACCESS_EXPIRES_MINUTES = 15
JWT_REFRESH_EXPIRES_DAYS = 7