name: UGC API 2

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11, 3.12, 3.13]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wemake-python-styleguide flake8-html mypy
        if [ -f src/requirements.txt ]; then pip install -r src/requirements.txt; fi
    - name: Lint with WPS
      run: |
        flake8 src/ --format=html --select=WPS --htmldir=flake-report
    - name: Mypy typechecking
      run: |
        mypy src/
  notify:
    runs-on: ubuntu-latest
    needs: build
    if: always()
    steps:
    - name: Send Telegram notification
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_CHAT_ID }}
        token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        message: |
          ${{ github.workflow }} - ${{ job.status }}!
          Repository: ${{ github.repository }}
          Branch: ${{ github.ref }}
          Commit: ${{ github.sha }}
          By: ${{ github.actor }}
          View run: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
